@mixin visually-hidden {
  position: absolute;
  /* Setting dimensions to 0 make it invisible for VoiceOver */
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
