$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$primary-color: #00BCD4;
$text-icons: #FFFFFF;
$accent-color: #009688;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$light-grey: #ECF0F1;
